@import '../../../../../../assets/styles/main.scss';
.cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include respond-to(sm) {
    grid-template-columns: 1fr;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: var(--font-size-18);
    }
    .url_details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    .url_sub_details {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      @include respond-to(md) {
        flex-wrap: wrap;
      }
      .url {
        display: flex;
        flex-direction: column;
        @include respond-to(sm) {
          flex-wrap: wrap;
        }
        p {
          font-size: var(--font-size-14);
          font-weight: 500;
          white-space: nowrap;
        }
        span {
          white-space: nowrap;
          font-size: var(--font-size-12);
        }
      }
    }
  }
}
