@import '../../../../assets/styles/main';

.checkbox {
  cursor: pointer;
  &.label {
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-14);
}

.checkbox-input {
  display: none;
}

.checkbox-square {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;

  &:after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: var(--font-size-14);
    color: #fff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
  }
}

.checkbox-input:checked + .checkbox-square {
  border-color: $primary_color;
  // background-color: $verify_color;

  &:after {
    transform: translate(-50%, -50%) scale(1);
  }
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &.column-layout {
    flex-direction: column;
  }
}
