$primary_color: #0167b1;
$secondary_color: #1b224c;
$lightBlue_color: #def1ff;
$yellow_color: #c3cc00;
$red_color: #d72222;
$cancel_color: #acacac;
$placeholder_color: #757575;
$white: #ffff;
$main_Background_color: #f3f8ff;
